body {
  background-color: bisque;
}

nav a {
  margin: 10px;
}

nav,
.wraplogin,
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wraplogin,
.login {
  flex-direction: column;
}
.login input,
.login button {
  margin-bottom: 10px;
}
